extends ./template.jade

block body
  .o-wrapper.o-globalwidth
    h1 Your Goals
    form(method='post' action='/goals/add')
      label(for='name') Name
      br
      input#name(name='name' type='text' placeholder='Name of goal')
      button.button(type='submit') Add goal

    ul
      each goal in goals
        li
          form(method='post' action='/goals/#{goal._id}')
            span= goal.name
            span &nbsp;|&nbsp;
            button.button.button--outline(type='submit') Remove
