extends ./template.jade

block body
  form(method='post' action='/login')
    fieldset
      label(for='username') Email
      br
      input#email(name='username' type='text' placeholder='Email')
    fieldset
      label(for='password') Password
      br
      input#password(name='password' type='text' placeholder='Password')

    button.button(type='submit') Login
