extends ./template.jade

block body
  h4.title.title--small Most Popular

  .cardBlock
    h2.cardBlock-title.title What My Dreams Were as a Kid
    span.cardBlock-subtitle 30 Items
    .cardBlock-author.authorCard
      img.authorCard-img(src="http://placehold.it/30x30" width="30" height="30")
      span.authorCard-name Beyonce
