extends ./template.jade

block body
  h4.title.title--small Most Popular

  .row.between-xs
    .col-xs-4
      .c-item
        .c-item__icon 1
        .c-item__body
          h2.c-item__title A weekend long trip to Saint Lewis.
          .c-item__tasks.row
            a.c-item__task.button.button--primary Join
            a.c-item__task.button.button--slate Cheer
          .c-item__details
            ul
              li.o-icon You started this goal.
              li.o-icon Tommy L. wants to join.
              li.o-icon Deanna D. cheered you on.
